<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block head_title %}Добро пожаловать в никуда.{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>
    <body>
    	<div id='top_url'>
        	<h1><a href="{{ "/" }}">Добро пожаловать в никуда.</a></h1>
    	</div>
        {% block content %}

        {% endblock %}
    </body>
</html>