{% extends 'base.html' %}
{% load comments %}
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div id='post'>
	{{ post.body }}
</div>
<h4>Комментарии:</h4>
{% get_comment_list for post as comment_list %}
<ul>
{% for comment in comment_list %}
<li>
<p>Отправитель: {{ comment.user_name }}, {{ comment.submit_date }}</p>
<p>Комментарий: {{ comment.comment }}</p>
</li>
</ul>
-------
{% endfor %}
<p>Написать новый комментарий:</p>
{% render_comment_form for post %}
{% endblock %}
